body {
  overflow-x: hidden;
  /*background-color: lavenderblush;*/
  background-color:#ede7e1;
}

.my-img {
  height: 400px;
}

.my-img img {
  width: 100%;
  height: 100%;
}
.home-head{
  width: auto;
  height: 100px;
  /*background-color: #ffffff;*/
  background-color:#ede7e1;;
}
.home-head-img{
  margin-top: 15px;
  text-shadow: black 5px 3px 3px;
  font-size: 30px;
  font-style: inherit;
  color: #000000;
}
.home-head-right{
  margin-top: 15px;
  font-style: italic;
  font-size: 15px;
}
.home-footer{
  background-color: #dddddd;
  width: auto;
  margin-top: 20px;
  height: 130px;
}
.home-footer-last{
  margin-top: 5px;
  font-size: 20px;
}

.menu{
  display: block;
  width:220px;
  border: 2px solid #ce8483;
  margin-left: 50px;
  padding: 0;
}
.menu li {
  height:120px;
  line-height:120px;
  font-size: 30px;
  font-weight: bold;
  list-style-type: none;
  text-align: left;
  padding-left:50px;
  z-index: 3;
}
.menu li a{
  text-decoration: none;
  color: #ce8483;
}
.menu li a:hover{
  text-decoration: underline;
  font-weight: bold;
  color: #c3325f;
}
.menu li:hover{
  border:1px  solid #DDD;
  border-right: 0;
  box-shadow:0 0 10px #DDD;
  -moz-box-shadow: 0 0 10px #DDD;
  -webkit-box-shadow:0 0 10px #DDD;
}
.subMenu{
  display: none;
  width: 960px;
  height: 480px;
  left:270px;
  position: absolute;
  top:120px;
  border: 1px solid #DDD;
  z-index: 4;
  background-color: #e7c3c3;
  box-shadow:0 0 10px #DDD;
  -moz-box-shadow: 0 0 10px #DDD;
  -webkit-box-shadow:0 0 10px #DDD;

}

.menu li:hover .subMenu{
  display:block;
}
.menu li:hover .span{
  background-color: #ede7e1;
  display: inline-block;
  z-index:20;
  width: 30px;
  height: 120px;
  float:right;
  position: relative;
}
#pic li {
  float: left;
  margin: 5px 10px;
  padding: 25px 5px;
  height: 210px;
  width: 200px;
}

